<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.instagram.android" />
        <package android:name="com.twitter.android" />
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.youtube" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.google.android.apps.messaging" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION" />
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.kessi.textarts.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kessi.textarts.activities.TextArtActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.kessi.textarts.mycreation.MyCreationActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.kessi.textarts.activities.BGActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.kessi.textarts.activities.ArtPreviewActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.kessi.textarts.activities.HomeActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.kessi.textarts.activities.PrivacyActivity"
            android:screenOrientation="nosensor" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kessi.textarts.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>
</manifest>